$white_background:hsl(0, 0%, 95%);
$Bright_orange: hsl(31, 77%, 52%);
$Dark_cyan: hsl(184, 100%, 22%);
$Very_dark_cyan: hsl(179, 100%, 13%);

$title: 'Big Shoulders Display', cursive;
$para:'Lexend Deca', sans-serif;